@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="py-1">
        <h1>List of Developers</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
       
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/teacher03.jpg")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Your Name</h5>
                    <p class="card-text">Student ID: </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/teacher03.jpg")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Your Name</h5>
                    <p class="card-text">Student ID: </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/images/teacher03.jpg")" height="320" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Your Name</h5>
                    <p class="card-text">Student ID: </p>
                </div>
            </div>
        </div>
    </div>
</main>